# OpenKeep Amazon Textract example
# Copy the values you need into `.env`.

ACTIVE_PARSE_PROVIDER=amazon-textract
FALLBACK_PARSE_PROVIDER=local-ocr

# Amazon Textract docs:
# https://docs.aws.amazon.com/textract/latest/dg/getting-started.html

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Run:
# pnpm test:e2e:aws
